$font-path: "@featherds/styles/fonts/" !default;
@import "@featherds/styles/lib/feather";
@import "@featherds/styles/mixins/typography";
@import "@featherds/styles/themes/open-dark";

@import "@featherds/styles/lib/grid";
@import "./containers.scss";
// Code and the like
@import "prism-themes/themes/prism-atom-dark.css";
@import "@featherds/styles/themes/open-mixins";
@import "./search.scss";
html,
body {
  background-color: var($surface);
  color: var($primary-text-on-surface);
  min-height: 100%;
}
main {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

.open-light {
  @include open-light();
}

.open-dark {
  @include open-dark();
}

code {
  padding: 0px 4px;
  color: #3a4bd3;
  background-color: #eef4ff;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: inherit;
  border-radius: unset;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #0a0c1b;
}
//include local table stylings
//replace with styling from feather table
@import "./table.scss";

//Reset some spacing
body {
  padding: 0;
  margin: 0;
}

.feather-styles {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0.8em 0;
  }
  ul {
    padding-left: 40px;
  }
  li > ul {
    margin-bottom: 0;
    margin-top: 0;
    color: var($secondary-text-on-surface);
  }
  blockquote {
    border-left: 2px solid var($shade-2);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
  hr {
    border-top: 1px solid var($border-on-surface);
    border-bottom: none;
    margin: 32px 8px;
  }
  h1 {
    @include headline1();
    margin: 0.25em 0;
  }
  h2 {
    @include headline2();
  }
  h3 {
    @include headline3();
  }
  h4 {
    @include subtitle2();
  }
}

.hero {
  .hero-title {
    background-color: var($background);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h2,
    p {
      color: var($primary-text-on-surface);
      opacity: 0.9;
      text-align: center;
    }
    h1 {
      @include display2();
      color: var($primary-text-on-surface);
      opacity: 0.9;
      text-align: center;
    }
  }
  h2 {
    margin-bottom: 0;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var($border-on-surface);
  }
}

//Do not show the # before each title
.header-anchor {
  display: none;
}
