**/node_modules/
**/dist/*.js
_template/
scripts/**/*.js
*.conf.js
*.config.js
demo/Home.vue
demo/routes.js
docs/.vuepress/public/assets/Packages
docs/Packages/*/
docs/Components/
docs/.vuepress/components/
docs/.vuepress/theme/layouts/packageMenu.js
docs/.vuepress/theme/layouts/patternMenu.js
docs/.vuepress/components/
docs/.vuepress/dist/
packages/@featherds/icon/
packages/utils/
!packages/@featherds/icon/src
