@import "utils";
@import "variables";
$colors: (
  $secondary: #7d92ff,
  $secondary-variant: #a3b3ff,
  $clickable-normal: #b3e7ff,
  $clickable-selected: #b3e7ff,
  $clickable-visited: #ffcdfe,
  $background: #0a0c1b,
  $error: #ff555e,
  $success: #83ee7d,
  $warning: #ffac26,
  $state-color-on-color: #0a0c1b,
  $state-color-on-surface: #fff,
  $state-color-on-neutral: #fff,
  $primary-text-on-surface: rgba(255, 255, 255, 1)
);

$colors: add-RGB($colors);

$hero-gradients: (
  $hero-gradient-1-1: radial-gradient(ellipse 400% 600% at 100% 0%, rgba(#3A4BD3, 0.45) 0%, #14D1DF00 100%) 0% 0% no-repeat padding-box,
  $hero-gradient-1-2: radial-gradient(ellipse 200% 200% at 25% 40%, rgba(#DB2973, .5) 0%, #14D1DF00 100%) 0% 0% no-repeat padding-box,
  $hero-gradient-1-3: radial-gradient(ellipse 50% 100% at 75% 66%, rgba(#32E7F3, .7) 0%, #14D1DF00 100%) 0% 0% no-repeat padding-box,
  $hero-gradient-2-1: radial-gradient(ellipse 300% 175% at 0% -55%, rgba(#3A4BD3, .6) 0%, #14D1DF00 100%) 0% 0% no-repeat padding-box,
  $hero-gradient-2-2: radial-gradient(ellipse 200% 200% at -20% -135%, rgba(#DB2973, .55) 0%, #14D1DF00 100%) 0% 0% no-repeat padding-box,
  $hero-gradient-2-3: radial-gradient(ellipse 50% 100% at 75% -44%, rgba(#32E7F3, .15) 0%, #14D1DF00 100%) 0% 0% no-repeat padding-box,
  $hero-gradient-2-4: radial-gradient(ellipse 0% 0% at 0% 0%, transparent 0%, transparent 100%) 0% 0% no-repeat padding-box,
);

$on-color: (
  $primary-text-on-color: rgba(10, 12, 27, 1),
  $secondary-text-on-color: rgba(10, 12, 27, 0.78),
  $disabled-text-on-color: rgba(10, 12, 27, 0.5),
  $border-on-color: rgba(10, 12, 27, 0.12),
  $border-light-on-color: rgba(10, 12, 27, 0.06),
);

$on-surface: (
  $secondary-text-on-surface: rgba(255, 255, 255, 0.78),
  $disabled-text-on-surface: rgba(255, 255, 255, 0.5),
  $border-on-surface: rgba(255, 255, 255, 0.24),
  $border-light-on-surface: rgba(255, 255, 255, 0.12),
);

$on-warning: (
  $primary-text-on-warning: rgba(0, 0, 0, 1),
  $secondary-text-on-warning: rgba(0, 0, 0, 0.78),
  $disabled-text-on-warning: rgba(0, 0, 0, 0.5),
  $border-on-warning: rgba(0, 0, 0, 0.12),
  $border-light-on-warning: rgba(0, 0, 0, 0.06),
);

$shadeColor: white;
$shades: (
  $shade-1: rgba($shadeColor, 0.6),
  $shade-2: rgba($shadeColor, 0.4),
  $shade-3: rgba($shadeColor, 0.24),
  $shade-4: rgba($shadeColor, 0.12),
);
$state-on-surface: (
  $state-opacity-hover-on-surface: 0.08,
  $state-opacity-pressed-on-surface: 0.32,
  $state-opacity-selected-on-surface: 0.12,
  $state-opacity-focus-on-surface: 0.12,
);

$state-on-neutral: (
  $state-opacity-hover-on-neutral: 0.08,
  $state-opacity-pressed-on-neutral: 0.32,
  $state-opacity-selected-on-neutral: 0.12,
  $state-opacity-focus-on-neutral: 0.12,
);
$state-on-color: (
  $state-opacity-hover-on-color: 0.08,
  $state-opacity-pressed-on-color: 0.24,
  $state-opacity-selected-on-color: 0.12,
  $state-opacity-focus-on-color: 0.12,
  $state-border-focus-on-color: 2px solid white,
  $state-inner-border-color-focus-on-color: rgba(0, 0, 0, 0.6),
);

$shadows: (
  $shadow-0: #{0px 0px 1px 0px rgba(255, 255, 255, 0.2)},
  $shadow-1: 0 0 #fff,
  $shadow-2: 0 0 #fff,
  $shadow-3: 0 0 #fff,
  $shadow-4: 0 0 #fff,
  $shadow-5: 0 0 #fff,
  $shadow-6: 0 0 #fff,
  $shadow-7: 0 0 #fff,
  $shadow-8: 0 0 #fff,
  $shadow-9: 0 0 #fff,
  $shadow-10: 0 0 #fff,
  $shadow-11: 0 0 #fff,
  $shadow-12: 0 0 #fff,
  $shadow-13: 0 0 #fff,
  $shadow-14: 0 0 #fff,
  $shadow-15: 0 0 #fff,
  $shadow-16: 0 0 #fff,
  $shadow-17: 0 0 #fff,
  $shadow-18: 0 0 #fff,
  $shadow-19: 0 0 #fff,
  $shadow-20: 0 0 #fff,
  $shadow-21: 0 0 #fff,
  $shadow-22: 0 0 #fff,
  $shadow-23: 0 0 #fff,
  $shadow-24: 0 0 #fff,
);

$base-dark: map-collect(
  $colors,
  $hero-gradients,
  $on-color,
  $on-surface,
  $on-warning,
  $state-on-neutral,
  $state-on-surface,
  $state-on-color,
  $shades,
  $shadows
);
