@use "variables" as vars;
@use "utils" as utils;

$display1: (
  vars.$display1-font-size: 5rem,
  vars.$display1-line-height: 6rem,
  vars.$display1-letter-spacing: -0.015625em,
  vars.$display1-font-weight: var(vars.$font-normal),
  vars.$display1-text-transform: none,
  vars.$display1-font-style: normal,
);

$display2: (
  vars.$display2-font-size: 3.75rem,
  vars.$display2-line-height: 4.5rem,
  vars.$display2-letter-spacing: -0.0083em,
  vars.$display2-font-weight: var(vars.$font-normal),
  vars.$display2-text-transform: none,
  vars.$display2-font-style: normal,
);

$display3: (
  vars.$display3-font-size: 3rem,
  vars.$display3-line-height: 3.75rem,
  vars.$display3-letter-spacing: -0.005em,
  vars.$display3-font-weight: var(vars.$font-medium),
  vars.$display3-text-transform: none,
  vars.$display3-font-style: normal,
);

$title: (
  vars.$title-font-size: 2.125rem,
  vars.$title-line-height: 2.5rem,
  vars.$title-letter-spacing: normal,
  vars.$title-font-weight: var(vars.$font-light),
  vars.$title-text-transform: none,
  vars.$title-font-style: normal,
);

$headline1: (
  vars.$headline1-font-size: 1.75rem,
  vars.$headline1-line-height: 2.25rem,
  vars.$headline1-letter-spacing: normal,
  vars.$headline1-font-weight: var(vars.$font-semibold),
  vars.$headline1-text-transform: none,
  vars.$headline1-font-style: normal,
);

$headline2: (
  vars.$headline2-font-size: 1.5rem,
  vars.$headline2-line-height: 2rem,
  vars.$headline2-letter-spacing: normal,
  vars.$headline2-font-weight: var(vars.$font-medium),
  vars.$headline2-text-transform: none,
  vars.$headline2-font-style: normal,
);

$headline3: (
  vars.$headline3-font-size: 1.1875rem,
  vars.$headline3-line-height: 2rem,
  vars.$headline3-letter-spacing: 0.012em,
  vars.$headline3-font-weight: var(vars.$font-bold),
  vars.$headline3-text-transform: none,
  vars.$headline3-font-style: normal,
);

$headline4: (
  vars.$headline4-font-size: 1rem,
  vars.$headline4-line-height: 2rem,
  vars.$headline4-letter-spacing: 0.0125em,
  vars.$headline4-font-weight: var(vars.$font-semibold),
  vars.$headline4-text-transform: none,
  vars.$headline4-font-style: normal,
);

$subtitle1: (
  vars.$subtitle1-font-size: 0.875rem,
  vars.$subtitle1-line-height: 1.5rem,
  vars.$subtitle1-letter-spacing: 0.00714em,
  vars.$subtitle1-font-weight: var(vars.$font-bold),
  vars.$subtitle1-text-transform: none,
  vars.$subtitle1-font-style: normal,
);

$subtitle2: (
  vars.$subtitle2-font-size: 0.8125rem,
  vars.$subtitle2-line-height: 1.25rem,
  vars.$subtitle2-letter-spacing: 0.00714em,
  vars.$subtitle2-font-weight: var(vars.$font-bold),
  vars.$subtitle2-text-transform: none,
  vars.$subtitle2-font-style: normal,
);

$body-large: (
  vars.$body-large-font-size: 1rem,
  vars.$body-large-line-height: 1.75rem,
  vars.$body-large-letter-spacing: 0.03125em,
  vars.$body-large-font-weight: var(vars.$font-normal),
  vars.$body-large-text-transform: none,
  vars.$body-large-font-style: normal,
);

$body-small: (
  vars.$body-small-font-size: 0.875rem,
  vars.$body-small-line-height: 1.5rem,
  vars.$body-small-letter-spacing: 0.01786em,
  vars.$body-small-font-weight: var(vars.$font-normal),
  vars.$body-small-text-transform: none,
  vars.$body-small-font-style: normal,
);

$button: (
  vars.$button-font-size: 0.875rem,
  vars.$button-line-height: 1.25rem,
  vars.$button-letter-spacing: 0.08929em,
  vars.$button-font-weight: var(vars.$font-bold),
  vars.$button-text-transform: uppercase,
  vars.$button-font-style: normal,
);
$caption: (
  vars.$caption-font-size: 0.75rem,
  vars.$caption-line-height: 1rem,
  vars.$caption-letter-spacing: normal,
  vars.$caption-font-weight: var(vars.$font-normal),
  vars.$caption-text-transform: none,
  vars.$caption-font-style: normal,
);

$overline: (
  vars.$overline-font-size: 0.75rem,
  vars.$overline-line-height: 1rem,
  vars.$overline-letter-spacing: 0.105em,
  vars.$overline-font-weight: var(vars.$font-semibold),
  vars.$overline-text-transform: uppercase,
  vars.$overline-font-style: normal,
);

$typography: (
  vars.$root-font-size: 1rem,
  vars.$header-font-family: #{"Inter",
  Helvetica,
  Arial,
  sans-serif},
  vars.$font-family: #{"OpenSans",
  Helvetica,
  Arial,
  sans-serif},
  vars.$font-light: 300,
  vars.$font-normal: normal,
  vars.$font-medium: 500,
  vars.$font-semibold: 600,
  vars.$font-bold: 700,
  vars.$base-font-size: 0.875rem,
);

$layout: (
  vars.$header-height: 3.75rem,
  vars.$content-width: 75rem,
  vars.$zindex-dropdown: 1000,
  vars.$zindex-sticky: 1020,
  vars.$zindex-fixed: 1030,
  vars.$zindex-modal-backdrop: 1040,
  vars.$zindex-modal: 1050,
  vars.$zindex-popover: 1060,
  vars.$zindex-tooltip: 1070,
);
$spacing: (
  vars.$spacing-xxs: 0.25rem,
  vars.$spacing-xs: 0.5rem,
  vars.$spacing-s: 0.75rem,
  vars.$spacing-m: 1rem,
  vars.$spacing-l: 1.25rem,
  vars.$spacing-xl: 1.5rem,
  vars.$spacing-xxl: 3rem,
);

$base-theme: utils.map-collect(
  $display1,
  $display2,
  $display3,
  $title,
  $headline1,
  $headline2,
  $headline3,
  $headline4,
  $subtitle1,
  $subtitle2,
  $body-large,
  $body-small,
  $button,
  $overline,
  $caption,
  $typography,
  $layout,
  $spacing
);
