@use "sass:string";
@use "variables" as vars;

//utility classes
$spacing: (
  "xxs": vars.$spacing-xxs,
  "xs": vars.$spacing-xs,
  "s": vars.$spacing-s,
  "m": vars.$spacing-m,
  "l": vars.$spacing-l,
  "xl": vars.$spacing-xl,
  "xxl": vars.$spacing-xxl
);
$directions: (top, bottom, left, right);

@each $size, $value in $spacing {
  @each $direction in $directions {
    .m#{string.slice($direction, 0, 1)}-#{$size} {
      margin-#{$direction}: var($value);
    }

    .p#{string.slice($direction, 0, 1)}-#{$size} {
      padding-#{$direction}: var($value);
    }
  }
  //x
  .mx-#{$size} {
    margin-left: var($value);
    margin-right: var($value);
  }
  .px-#{$size} {
    padding-left: var($value);
    padding-right: var($value);
  }
  //y
  .my-#{$size} {
    margin-top: var($value);
    margin-bottom: var($value);
  }
  .py-#{$size} {
    padding-top: var($value);
    padding-bottom: var($value);
  }
  //blank
  .m-#{$size} {
    margin: var($value);
  }
  .p-#{$size} {
    padding: var($value);
  }
}
