@use "sass:math";
@use "@featherds/styles/themes/variables" as vars;
@use "@featherds/styles/mixins/typography" as typo;
@use "@featherds/styles/themes/utils" as utils;
@use "@featherds/styles/themes/_base-controls/date-input" as date-input;
$width: 1.875rem;
.sr-only {
  @include typo.screen-reader;
}
.picker {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(vars.$spacing-m);
  padding-top: var(vars.$spacing-xl);
  .chevron {
    width: 2.25rem;
    margin: 0;
    &.left {
      margin-right: var(vars.$spacing-m);
    }
  }
  .inline-select {
    width: date-input.$date-input-calendar-select-width;
    margin: 0;
    display: inline-block;
    margin-right: var(vars.$spacing-s);
    &.year {
      margin-right: var(vars.$spacing-m);
      width: date-input.$date-input-calendar-year-width;
    }
  }
}
.calendar {
  margin: 0 var(vars.$spacing-m) var(vars.$spacing-m) var(vars.$spacing-m);
  border-collapse: collapse;
  td,
  tr {
    padding: 0;
    text-align: center;
  }
  tr:last-child {
    .cell {
      margin-bottom: 0;
    }
  }
  td:last-child {
    .cell {
      margin-right: 0;
    }
  }
  .cell {
    margin-bottom: var(vars.$spacing-xxs);
    height: $width;
    width: 2.75rem;
    @include typo.body-small;
    border-radius: 2px;
    border: 2px solid transparent;
    background-color: var(vars.$surface);
    cursor: pointer;

    @include utils.state-on-surface();

    &.highlighted {
      border: 2px solid var(vars.$primary);
    }

    &.selected {
      background: var(vars.$primary);
      color: var(vars.$primary-text-on-color);
      font-weight: var(vars.$font-bold);
      &:focus.focus {
        background: var(vars.$primary);
      }
      &:hover.hover {
        background: var(vars.$primary);
        &:focus.focus {
          background: var(vars.$primary);
        }
      }
    }

    &.disabled {
      @include utils.state-disabled(vars.$border-light-on-surface);
      background: var(vars.$border-light-on-surface);
      color: var(vars.$disabled-text-on-surface);
      border-radius: 0px;
      cursor: default;
    }

    &:focus {
      outline: 0;
    }
  }
  .blank {
    @include typo.body-small;
    color: var(vars.$disabled-text-on-surface);
  }
  .day-header {
    @include typo.body-small;
    font-weight: var(vars.$font-bold);
    color: var(vars.$secondary-text-on-surface);
    width: math.percentage(math.div(1, 7));
    cursor: default;
    &:hover {
      background: inherit;
      color: var(vars.$secondary-text-on-surface);
    }
  }
}
