@use "sass:math";
@import "@featherds/styles/themes/variables";
@import "@featherds/styles/mixins/typography";
@import "@featherds/styles/themes/utils";
$width: 1.875rem;
.sr-only {
  @include screen-reader;
}
.picker {
  box-sizing: border-box;
  z-index: var($zindex-dropdown);
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px var($spacing-m);
  .chevron {
    width: 2.25rem;
    margin: 0;
    &.left {
      margin-right: var($spacing-m);
    }
  }
  .inline-select {
    width: 8.125rem;
    margin: var($spacing-xxs) 0;
    display: inline-block;
    margin-right: var($spacing-s);
    &.year {
      margin-right: var($spacing-m);
      width: 5.3125rem;
    }
  }
}
.calendar {
  margin: 0 var($spacing-m) var($spacing-m) var($spacing-m);
  border-collapse: collapse;
  td,
  tr {
    padding: 0;
  }
  tr:last-child {
    .cell {
      margin-bottom: 0;
    }
  }
  td:last-child {
    .cell {
      margin-right: 0;
    }
  }
  .cell {
    margin-right: var($spacing-xxs);
    margin-bottom: var($spacing-xxs);
    height: $width;
    width: 2.75rem;
    @include body-small;
    border-radius: 2px;
    border: 2px solid transparent;
    background-color: var($surface);
    cursor: pointer;

    @include state-on-surface();

    &.highlighted {
      border: 2px solid var($primary);
    }

    &.selected {
      background: var($primary);
      color: var($primary-text-on-color);
      font-weight: var($font-bold);
      &:focus.focus {
        background: var($primary);
      }
      &:hover.hover {
        background: var($primary);
        &:focus.focus {
          background: var($primary);
        }
      }
    }

    &.disabled {
      @include state-disabled($border-light-on-surface);
      background: var($border-light-on-surface);
      color: var($disabled-text-on-surface);
      border-radius: 0px;
      cursor: default;
    }

    &:focus {
      outline: 0;
    }
  }
  .blank {
    @include body-small;
    color: var($disabled-text-on-surface);
  }
  .day-header {
    @include body-small;
    font-weight: var($font-bold);
    color: var($secondary-text-on-surface);
    width: percentage(math.div(1, 7));
    cursor: default;
    &:hover {
      background: inherit;
      color: var($secondary-text-on-surface);
    }
  }
}
