@import "@featherds/styles/themes/variables";

@mixin group-spacing {
  line-height: 0;

  :deep(.layout-container) {
    margin-right: var($spacing-xxl);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &.vertical :deep(.layout-container) {
    display: block;
    margin-bottom: var($spacing-m);
    margin-right: 0;
  }
  label {
    margin-bottom: var($spacing-m);
  }

  .feather-input-sub-text {
    padding: var($spacing-m) 0 0 0;
  }
}
