@import "@featherds/styles/themes/variables";

@mixin form-spacing() {
  :deep(.feather-autocomplete-container),
  :deep(.feather-date-input-container),
  :deep(.feather-input-container),
  :deep(.feather-select-container),
  :deep(.feather-textarea-container) {
    padding-top: var($spacing-s);
    padding-bottom: var($spacing-s);
  }
}

@mixin group-spacing {
  line-height: 0;

  :deep(.layout-container) {
    margin-right: var($spacing-xxl);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &.vertical :deep(.layout-container) {
    display: block;
    margin-bottom: var($spacing-m);
    margin-right: 0;
  }
  label {
    margin-bottom: var($spacing-m);
  }
  .feather-input-sub-text {
    padding: var($spacing-m) 0 0 0;
  }
}
