@use "../themes/variables" as vars;
@mixin rendering {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin header {
  font-family: var(vars.$header-font-family);
  color: var(vars.$primary-text-on-surface);
  @include rendering();
}

@mixin display1 {
  @include header();
  font-size: var(vars.$display1-font-size);
  line-height: var(vars.$display1-line-height);
  letter-spacing: var(vars.$display1-letter-spacing);
  font-weight: var(vars.$display1-font-weight);
  text-transform: var(vars.$display1-text-transform);
}

@mixin display2 {
  @include header();
  font-size: var(vars.$display2-font-size);
  line-height: var(vars.$display2-line-height);
  letter-spacing: var(vars.$display2-letter-spacing);
  font-weight: var(vars.$display2-font-weight);
  text-transform: var(vars.$display2-text-transform);
}

@mixin display3 {
  @include header();
  font-size: var(vars.$display3-font-size);
  line-height: var(vars.$display3-line-height);
  letter-spacing: var(vars.$display3-letter-spacing);
  font-weight: var(vars.$display3-font-weight);
  text-transform: var(vars.$display3-text-transform);
}

@mixin title {
  @include header();
  font-size: var(vars.$title-font-size);
  line-height: var(vars.$title-line-height);
  letter-spacing: var(vars.$title-letter-spacing);
  font-weight: var(vars.$title-font-weight);
  text-transform: var(vars.$title-text-transform);
}

@mixin headline1 {
  @include header();
  font-size: var(vars.$headline1-font-size);
  line-height: var(vars.$headline1-line-height);
  letter-spacing: var(vars.$headline1-letter-spacing);
  font-weight: var(vars.$headline1-font-weight);
  text-transform: var(vars.$headline1-text-transform);
  font-style: var(vars.$headline1-font-style);
}
@mixin headline2 {
  @include header();
  font-size: var(vars.$headline2-font-size);
  line-height: var(vars.$headline2-line-height);
  letter-spacing: var(vars.$headline2-letter-spacing);
  font-weight: var(vars.$headline2-font-weight);
  text-transform: var(vars.$headline2-text-transform);
  font-style: var(vars.$headline2-font-style);
}
@mixin headline3 {
  @include header();
  font-size: var(vars.$headline3-font-size);
  line-height: var(vars.$headline3-line-height);
  letter-spacing: var(vars.$headline3-letter-spacing);
  font-weight: var(vars.$headline3-font-weight);
  text-transform: var(vars.$headline3-text-transform);
  font-style: var(vars.$headline3-font-style);
}
@mixin headline4 {
  @include header();
  font-size: var(vars.$headline4-font-size);
  line-height: var(vars.$headline4-line-height);
  letter-spacing: var(vars.$headline4-letter-spacing);
  font-weight: var(vars.$headline4-font-weight);
  text-transform: var(vars.$headline4-text-transform);
  font-style: var(vars.$headline4-font-style);
}
@mixin subtitle1 {
  @include header();
  font-size: var(vars.$subtitle1-font-size);
  line-height: var(vars.$subtitle1-line-height);
  letter-spacing: var(vars.$subtitle1-letter-spacing);
  font-weight: var(vars.$subtitle1-font-weight);
  text-transform: var(vars.$subtitle1-text-transform);
  font-style: var(vars.$subtitle1-font-style);
}
@mixin subtitle2 {
  @include header();
  font-size: var(vars.$subtitle2-font-size);
  line-height: var(vars.$subtitle2-line-height);
  letter-spacing: var(vars.$subtitle2-letter-spacing);
  font-weight: var(vars.$subtitle2-font-weight);
  text-transform: var(vars.$subtitle2-text-transform);
  font-style: var(vars.$subtitle2-font-style);
}

@mixin body-large {
  font-family: var(vars.$font-family);
  font-size: var(vars.$body-large-font-size);
  line-height: var(vars.$body-large-line-height);
  letter-spacing: var(vars.$body-large-letter-spacing);
  font-weight: var(vars.$body-large-font-weight);
  text-transform: var(vars.$body-large-text-transform);
  font-style: var(vars.$body-small-font-style);
  color: var(vars.$primary-text-on-surface);
  @include rendering();
}
@mixin body-small {
  font-family: var(vars.$font-family);
  font-size: var(vars.$body-small-font-size);
  line-height: var(vars.$body-small-line-height);
  letter-spacing: var(vars.$body-small-letter-spacing);
  font-weight: var(vars.$body-small-font-weight);
  text-transform: var(vars.$body-small-text-transform);
  font-style: var(vars.$body-small-font-style);
  color: var(vars.$primary-text-on-surface);
  @include rendering();
}

@mixin button {
  @include header();
  font-family: var(vars.$font-family);
  color: var(vars.$primary-text-on-surface);
  font-size: var(vars.$button-font-size);
  line-height: var(vars.$button-line-height);
  letter-spacing: var(vars.$button-letter-spacing);
  font-weight: var(vars.$button-font-weight);
  text-transform: var(vars.$button-text-transform);
  font-style: var(vars.$button-font-style);
}

@mixin caption {
  font-size: var(vars.$caption-font-size);
  line-height: var(vars.$caption-line-height);
  letter-spacing: var(vars.$caption-letter-spacing);
  font-weight: var(vars.$caption-font-weight);
  text-transform: var(vars.$caption-text-transform);
  font-style: var(vars.$caption-font-style);
  color: var(vars.$primary-text-on-surface);
  @include rendering();
}

@mixin overline {
  @include header();
  font-size: var(vars.$overline-font-size);
  line-height: var(vars.$overline-line-height);
  letter-spacing: var(vars.$overline-letter-spacing);
  font-weight: var(vars.$overline-font-weight);
  text-transform: var(vars.$overline-text-transform);
  font-style: var(vars.$overline-font-style);
  color: var(vars.$primary-text-on-surface);
}

@mixin screen-reader() {
  position: absolute;
  top: auto;
  left: -99999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}

@mixin anchor() {
  font-family: var(vars.$font-family);
  font-size: 1em; //inherit
  color: var(vars.$clickable-normal);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: var(vars.$clickable-visited);
  }
}
